
{% extends 'base.html' %}
{% load static %}

{% block content %}


<header>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1 class="text-center">
                        {% block titulo_principal %}
                            Bienvenido al Blog
                        {% endblock titulo_principal %}
                            </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="carousel-item active">
    <img class="d-block w-100"  src="{% block imagen %}{% static 'img/home-bg.jpg' %}{% endblock imagen %}"  alt="Firste slid">
    <div class="carousel-caption d-none d-md-block">
    </div>


<div class="container px-4 py-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
                    <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 24, 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock content %}